
#menu {
	float: left;
	display: flex;
	background-color: #000b;
}

#menu-open-icon {
	font-weight: bold;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
}

#menu-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.menu-icon {
	padding: 15px;
	margin: 0;
	width: 32px;
}

.menu-icon:hover {
	background-color: rgba(1, 1, 1, 0.5);
	cursor: pointer
}

#menu .selected .menu-icon  {
	background-color: rgba(0, 0, 0, 0.5);
}

